$textColor: #888282;


* {
    box-sizing: border-box;
    font-family: Roboto;
}
 
.h-container {
    min-width: 250px;
    max-width: 500px;
    margin: 10px auto;
    border-radius: 5px;
    background: #e8e8e8;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    .title {
        text-align: center;
        font-size: 17px;
        padding: 10px;
        color: $textColor;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.range-wrapper {
    position: absolute;
    top: 100%;
    left: 0;

}

.btn {
    height: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: $textColor;
    font-family:  Roboto;
    font-weight: 700;
    background-color: #ccc;
    outline: thistle;
    width: 100px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &:hover {
        cursor: pointer;
    }
}



